<div class="container position relative">
    <div class="row m-0 p-2 align-items-center ">
        <div class="col-sm-1 col-lg-2">
            <mat-card class="mx-16" appearance="outlined">
                <mat-card-content>
                    <p> salut >:[</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row m-0 d-flex p-2 justify-content-center align-items-center">
        <div class="col-xl-4" style="max-height: 95vh;">
            <app-post></app-post>
        </div>
    </div>    
</div>

